.introduction{
    font-size: var(--intro-page_accueil);
    color: var(--gris);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    font-size: var(--intro-page_accueil);
}

.textes__principaux{
    font-size: var(--intro-page_accueil);
    color: var(--gris);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    font-size: var(--textes);
}

.titre{
    font-family: 'El Messiri';
    color: var(--gris);
    margin-left: 20px;
    margin-top: 80px;
    font-size: var(--titre);
    font-weight: unset;
}

.sous__titre{
    color: var(--gris);
    text-decoration: none;
    font-family: 'El Messiri';
    margin-left: 20px;
    margin-top: 40px;
    font-size: var(--titre-livre);
    margin-bottom: 10px;
}

.img__homme__envers{
    margin-left: 20px;
    margin-bottom: 110px;
}

.textes1{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--textes);
    position: absolute;
    right: 25px;
    top: 1200px;
}

.textes2{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--textes);
    margin-top: 10px;
    margin-left: 20px;
}

.textes4{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--textes);
    position: absolute;
    right: 20px;
    top: 1650px;
}

.trait_dessus{
    border-top: 2px solid var(--gris);
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.citation__alpes{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--textes);
    margin-left: 50px;
    margin-top: 20px;
}

.extrait__livre{
    margin-left: 50px;
    margin-bottom: 40px;
}

.extrait__livre2{
    margin-left: 20px;
    margin-bottom: 40px;
}

.proverbe__turc{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--textes);
    font-style: italic;
    margin-top: 30px;
    margin-left: 20px;
}

.autres__oeuvre{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--autres-oeuvres-et-films);
    margin-left: 20px;
}
.autres__oeuvre__film{
    font-family: 'El Messiri';
    font-size: var(--autres-oeuvres-et-films);
    margin-left: 20px;
}

.img__accueil{
    margin-left: 18px;
}

.titre__site{
    font-weight: unset;
    text-align: right;
    margin-right: 55px;
  }

  .titre__site__contact{
    font-weight: unset;
    text-align: right;
    margin-right: 65px;
  }
  
  .titre__site__lupin{
    font-weight: unset;
    text-align: right;
    margin-right: 110px;
  }
  
  .description__remus{
      margin-left: 20px;
  }

  .description__marauders{
    margin-left: 40px;
  }

  .button{
      margin-left: 5px;
      font-weight: unset;
      font-family: 'El Messiri';
  }

  