:root{
/* Color styles */
--fond: rgba(16, 16, 18, 1);
--gris: rgba(207, 218, 221, 1);
--degrade: rgba(113, 138, 148, 1);
--msg-page-contact: rgba(207, 218, 221, 1);


/* Text-size styles */
--titre: 40px;
--textes: 20px;
--mentions-légales: 16px;
--sous-titre-img: 15px;
--thomas-hob: 17px;
--intro-page_accueil: 30px;
--titre-livre: 30px;
--overlay: 35px;
--autres-oeuvres-et-films: 25px;
--description-film-et-livre: 20px;
--autres-projets-nom: 20px;
--logo: 35px;
}
