.mentions{
    margin-left: 20px;
    font-size: var(--mentions-légales);
    margin-top: 20px;
}

.nom{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

  
section{
    display: flex;
    justify-content: center;
  
}

div {
    width: auto;
    height: auto;
    margin: 15px;
}


.linear-gradient {
    background: linear-gradient(var(--fond), var(--degrade));
  }
  
  a{
      text-decoration: none;
      color: var(--mentions-légales);
  }
