form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
    
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
    margin-top: 20px;
}

label {
    padding-right: 60px;
}

.message{
    font-size: var(--intro-page_accueil);
    color: var(--gris);
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--textes);
    padding-left: 20px;
}