@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

/* Vendors */
@import url("vendors/normalize.css");

/* Utils */
@import url("utils/variables.css");

/* Base */
@import url("base/main.css");
@import url("base/media.css");
@import url("base/icons.css");

/* Layout */
@import url("layout/header.css");
@import url("layout/footer.css");
@import url("layout/form.css");
@import url("layout/carousel.css");

/* Components */
@import url("components/menu.css");
@import url("components/caroussel.css");

.slider{
    height: 100%;
    position: relative;
}
.slider img{
    object-fit: cover;
    height: auto;
    width: auto;
    position: absolute;
    opacity: 0;
}

.slider img.active{
    opacity: 1;
}

.suivant, .precedent{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: absolute;
    top: 30%;
}

.suivant{
    right: 10px; 
}

.precedent{
    left: 0px;
}
 /* Style the navigation menu */
 .topnav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: var(--gris);
    padding: 5px 0px;
    text-decoration: none;
    color: var(--gris);
    text-decoration: none;
    font-family: 'El Messiri';
    font-size: 40px;
    display: block;
  
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    margin-left: 0px;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: transparent;
    color: transparent;
  } 

  

